body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  margin-bottom: 70px;
}

  @media (min-width: 667px){
  .portfolio{
    flex-direction: row;}}

.portfolio__title{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin: 70px;
  margin-top: 30px;
}

.portfolio__container{
  margin-bottom: 30px;
}

.portfolio__content-image{
  height: 150px;
  width: 200px;
}

.portfolio__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.portfolio__content-title{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

.portfolio__content-description{
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.portfolio__content-link{
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  position: relative;
  left: 35%;
}